USE [master]
GO
/****** Object:  Database [ProyectoFinal]    Script Date: 4/25/2026 9:21:41 PM ******/
CREATE DATABASE [ProyectoFinal]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ProyectoFinal', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\ProyectoFinal.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ProyectoFinal_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\ProyectoFinal_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ProyectoFinal].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ProyectoFinal]
GO
/****** Object:  Table [dbo].[Usuario662JS]    Script Date: 4/25/2026 9:21:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario662JS](
	[IdUsuario662JS] [int] IDENTITY(1,1) NOT NULL,
	[Username662JS] [nvarchar](50) NOT NULL,
	[Password662JS] [nvarchar](255) NOT NULL,
	[DNI662JS] [int] NOT NULL,
	[Bloqueado662JS] [bit] NOT NULL,
	[Nombre662JS] [nvarchar](50) NOT NULL,
	[Apellido662JS] [nvarchar](50) NOT NULL,
	[Email662JS] [nvarchar](50) NOT NULL,
	[Rol662JS] [nvarchar](50) NOT NULL,
	[Activo662JS] [bit] NOT NULL,
 CONSTRAINT [PK__Usuario6__E3B666AA0BB80D4E] PRIMARY KEY CLUSTERED 
(
	[IdUsuario662JS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ__Usuario6__7521C6140F4CF195] UNIQUE NONCLUSTERED 
(
	[Username662JS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Usuario662JS] ADD  CONSTRAINT [DF__Usuario66__Bloqu__38996AB5]  DEFAULT ((0)) FOR [Bloqueado662JS]
GO
ALTER TABLE [dbo].[Usuario662JS] ADD  CONSTRAINT [DF__Usuario66__Activ__47DBAE45]  DEFAULT ((1)) FOR [Activo662JS]
GO
USE [master]
GO
